[Unit]
Description=Xene agent
Documentation=https://github.com/fristonio/xene

[Service]
Environment=INITSYSTEM=SYSTEMD
Type=simple
ExecStart=/usr/local/bin/xene agent
Restart=on-failure

[Install]
WantedBy=multi-user.target
